<!DOCTYPE html>
<style>
a.contact-buttons{
   border: 2px solid red;
  border-radius: 5px;
  }
p    {color: margin-top: 10px;display:inline-block;}
</style>
<p>
<a class="contact-buttons" href="https://github.com/gcourtade">GitHub</a>&nbsp;&nbsp;&nbsp;<a class="contact-buttons" href="https://scholar.google.no/citations?hl=no&user=rW-9FtYAAAAJ&view_op=list_works">Google Scholar</a>&nbsp;&nbsp;&nbsp;<a class="contact-buttons" href="https://twitter.com/GastonC_NMR">Twitter</a>&nbsp;&nbsp;&nbsp;<a class="contact-buttons" href="https://www.ntnu.edu/employees/gaston.courtade">Contact me</a></p>
