#sowise_cited_detail {padding-top:10px;padding-bottom:5px;}
.cited-journal-part tbody {border-bottom:0px;}
.cited-other-part tbody {border-bottom:0px;}
.cited-journal-part {margin-top:10px;}
.cited-journal-part tr {padding-bottom:5px;line-height: 1.7em;}
.cited-other-part tr {padding-bottom:5px;line-height: 1.7em;}
.other-href {color:#1193e4;}
.doi-href {color:#1193e4;}
.cited-order-td {vertical-align:top;text-align:left;padding-right:7px;}
.cited-content-td {text-align:left;}
.cited-type-split{    height: 5px; margin-top: 10px;margin-bottom: 10px;}

#sowise_suggest_articles {padding-top:10px;}
.sowise-other-suggest-part {float: right;width: 50%;margin-bottom:20px;}
.sowise-self-suggest-part {float: left;width: 50%; margin-bottom: 20px;}
.sowise-suggest-bottom {padding-bottom:10px;}
.sowise-suggest-item {padding-bottom:7px;}
.sowise-suggest-item-detail {color:darkgray;}

.translate-icon{
	width: 18px;
    margin-left: 10px;
    cursor:pointer;
	vertical-align: middle;
	display: inline;
}

.translate-collapse-icon{
	width: 18px;
    margin-left: 6px;
    cursor:pointer;
	vertical-align: middle;
	display: inline;
}
.sowise-fund {
	border-bottom: 1px solid #6969e3;
    padding-bottom: 0.5px;
    margin-left: 2px;
	cursor:pointer;
}
.sowise-fund-label {
	margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
	background-color: #6969e3;
    color: white;
	display: inline-block;
	font-size: 75%;
    line-height: 1.4em;
    vertical-align: super;
}   

.sowise-org {
	border-bottom: 1px solid #6969e3;
    padding-bottom: 0.5px;
    margin-left: 2px;
	cursor:pointer;
}
.sowise-org-label {
	margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
	background-color: #6969e3;
    color: white;
	display: inline-block;
	font-size: 75%;
    line-height: 1.4em;
    vertical-align: super;
}   
.sowise-org-tip{
	font-size:12px;
	line-height:16px;
	text-align:justify;
}
.sowise-org-tip-head{
	font-weight:bold;
	padding-bottom:5px;
}
.sowise-fund-tip{
	font-size:12px;
	line-height:16px;
	text-align:justify;
}
.sowise-fund-tip-head{
	font-weight:bold;
	padding-bottom:5px;
	line-height: 20px;
}
.sowise-tip-hr{
	margin-top: 5px;
    margin-bottom: 5px;
} 
.qtip {max-width: 340px;}


.translate-p a {color:blue;}